<div class="container">
    <div class="row justify-content-center">
        <form class="col-sm-10 col-md-8 col-lg-6">
            <h1 class="mb-3">Recuperar Senha</h1>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" autofocus id="txtEmail" placeholder=" ">
                <label for="txtEmail">Email</label>
            </div>
          
            <button class="btn btn-lg btn-danger" type="button" [routerLink]="['/cadastronovasenha']">Recuperar Senha</button>

            <p class="mt-3">Ainda não é cadastrado? <a routerLink="/cadastro">Clique aqui</a>para se cadastrar.</p>
        </form>
    </div>
</div>