<div class="container">
    <div class="row justify-content-center">
        <form class="col-sm-10 col-md-8 col-lg-6">
            <h1 class="mb-3">Cadastrar nova senha</h1>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" autofocus id="txtNovaSenha" placeholder=" ">
                <label for="txtNovaSenha">Digite aqui uma nova senha</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" autofocus id="txtConfSenha" placeholder=" ">
                <label for="txtConfSenha">Confirme a nova senha</label>
            </div>

            <button class="btn btn-lg btn-danger" type="button" [routerLink]="['/confirmarecupsenha']">Cadastrar nova senha</button>

        </form>
    </div>
</div>