<footer  class="border-top text-muted bg-light">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center text-md-left">
                &copy; 2022 - Gamer World Ltda ME<br> 
                Rua Fidalga , 523 , Vila Madalena<br> 
                CNPJ 24.548.648/5420-44<br> 

            </div>
            <div class="col-12 col-md-4 text-center">
                <a routerLink="privacidade" class=" text-decoration-none text-dark">Politica de Privacidade</a><br>      
                <a routerLink="termos" class="text-decoration-none text-dark">Termos de uso</a><br>            
                <a routerLink="quemsomos" class="text-decoration-none text-dark">Quem Somos</a><br>       
                <a routerLink="trocas" class="text-decoration-none text-dark">Trocas e Devoluções</a><br> 
            </div>
            <div class="col-12 col-md-4 text-center">
                <a routerLink="contato" class=" text-decoration-none text-dark">Contato pelo site</a><br>      
                E-mail: <a href="mailto:matheusgaldinoinfo@gmail.com">matheusgaldinoinfo@gmail.com</a><br>          
                Telefone:<a href="#" class="text-decoration-none text-dark">(11)987924048</a><br>       
            </div>


        </div>

    </div>
</footer>

