<div class="container">
    <h1>Confirmação de Cadastro</h1>
    <hr>
    <p>
        Caro <strong>Primeiro Nome do Cliente</strong>
    </p>
    <p>Obrigado por se cadastrar em nossa loja virtual. um e-mail de confirmação foi enviado para
        <b>email.dominio.com.br</b>. Clique no link de confirmação presente no e-mail para concluirmos seu cadastro</p>
    <p>Desde já, agradecemos pela confiança em nossos serviços</p>
    <p>Atenciosamente,<br>
    Central de Relacionamento Gamer World.
    </p>

    <p>
        <a href="#" class="btn btn-danger">Voltar para Pagina Principal</a>
    </p>
</div>