<div class="container">
    <h1>Mensagem Recebida!</h1>
    <hr>
    <p>
        Caro Cliente,
    </p>
    <p>
        Informamos que sua mensagem foi recebida com sucesso por nossa central de relacionamento com cliente e que em
        até <b>2 dias uteis</b> ela seria respondida.
        Para evitarmos problemas de comunicação, evite reeenviar esta mesma mensagem dentro do prazo de resposta
    </p>
    <p>
        Agradecemos pela confiança em nossos serviços.
    </p>
    <p>Atenciosamente, <br>
    Central de Relacionamento Gamer World
    </p>
</div>